<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mageants_ExtraFee::config_mageants_extrafee" title="Extra Fee Section" sortOrder="50">
                            </resource>
                        </resource>
                    </resource>
                </resource>
                
                <resource id="Mageants_ExtraFee::extrafee_content" title="ExtraFee">
                        <resource id="Mageants_ExtraFee::extrafee_grid" title="Extra Fee" sortOrder="50" >
                        	<resource id="Mageants_ExtraFee::extrafee" title="Manage Fee" sortOrder="10" />
                            <resource id="Mageants_ExtraFee::save" title="Save Record" sortOrder="10" />
                        </resource>
                        <resource id="Mageants_ExtraFee::extrafee_request" title="Configuration" sortOrder="60" />
                </resource>
            </resource>

		</resources>
    </acl>
</config>
