<?xml version="1.0"?>
<!--
/**
 * @category  Mageants Orderattribute
 * @package   Mageants_Orderattribute
 * @copyright Copyright (c) 2020 Mageants
 * @author    Mageants Team <support@Mageants.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Sales\Block\Order\Info">
        <plugin name="Mageants_Orderattribute::OrderViewAttributesList" type="Mageants\Orderattribute\Plugin\Order\Attributes" />
    </type>

    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="orderAttributes" xsi:type="object">Mageants\Orderattribute\Block\Checkout\LayoutProcessor</item>
            </argument>
        </arguments>
    </type>

</config>
