<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mageants_ImageGallery::config_mageants_imagegallery" title="ImageGallery Section" sortOrder="50">
                                <resource id="Mageants_ImageGallery::save" title="Save Record" sortOrder="10" />
                                <resource id="Mageants_ImageGallery::delete" title="Delete Record" sortOrder="20" />
                            </resource>
                        </resource>
                    </resource>
                </resource>
                <resource id="Mageants_ImageGallery::imagegallery" title="ImageGallery" translate="title" sortOrder="10">
					<resource id="Mageants_ImageGallery::mageants_category_index" title="Gallery Category" translate="title" sortOrder="10">
						<resource id="Mageants_ImageGallery::image_gallery" title="ImageGallery" translate="title" sortOrder="10" />
						<resource id="Mageants_ImageGallery::image_gallery_save" title="ImageGallery" translate="title" sortOrder="10" />
					</resource>
                    <resource id="Mageants_ImageGallery::mageants_gallery_index" title="Image Gallery" translate="title" sortOrder="20">
                        <resource id="Mageants_ImageGallery::image_category" title="ImageGallery" translate="title" sortOrder="20" />
                        <resource id="Mageants_ImageGallery::image_category_save" title="ImageGallery" translate="title" sortOrder="20" />
                    </resource>
                    <resource id="Mageants_ImageGallery::mageants_video_index" title="Video Gallery" translate="title" sortOrder="20">
                        <resource id="Mageants_ImageGallery::video_category" title="VideoGallery" translate="title" sortOrder="20" />
                        <resource id="Mageants_ImageGallery::video_category_save" title="VideoGallery" translate="title" sortOrder="20" />
                    </resource>
                    <resource id="Mageants_ImageGallery::contact_configuration" title="Configuration" translate="title" sortOrder="30" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
