<?xml version="1.0"?>
<!--
 /**
 * @category  MageantsProduct Question Answser
 * @package   Mageants_ProductQA
 * @copyright Copyright (c) 2017 Mageants
 * @author    Mageants Team <info@mageants.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
	
	<virtualType name="MageantsProductQAGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>	
	
	<!-- Start Product Question Settigns XML-->
	<virtualType name="MageantsProductQAProductQuestionGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Mageants\ProductQA\Model\ResourceModel\ProductQuestion\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">MageantsProductQAGirdFilterPool</argument>
        </arguments>
    </virtualType>
	<type name="Mageants\ProductQA\Model\ResourceModel\ProductQuestion\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mageants_productquestion</argument>
            <argument name="eventPrefix" xsi:type="string">mageants_productqa_productquestion_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">productquestion_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Mageants\ProductQA\Model\ResourceModel\ProductQuestion</argument>
        </arguments>
    </type>
	<!-- End Product Question Settigns XML-->
	
	<!-- Start Product Answer Settigns XML-->
	<virtualType name="MageantsProductQAProductQuestionAnswerGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Mageants\ProductQA\Model\ResourceModel\ProductQuestionAnswer\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">MageantsProductQAGirdFilterPool</argument>
        </arguments>
    </virtualType>
	<type name="Mageants\ProductQA\Model\ResourceModel\ProductQuestionAnswer\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mageants_productanswer</argument>
            <argument name="eventPrefix" xsi:type="string">mageants_productqa_productanswer_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">productanswer_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Mageants\ProductQA\Model\ResourceModel\ProductQuestionAnswer</argument>
        </arguments>
    </type>
	<!-- End  Product Answer Settigns XML-->
	
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
				<item name="mageants_productqa_productquestion_listing_data_source" xsi:type="string">Mageants\ProductQA\Model\ResourceModel\ProductQuestion\Grid\Collection</item>				
				<item name="mageants_productqa_productquestionanswer_listing_data_source" xsi:type="string">Mageants\ProductQA\Model\ResourceModel\ProductQuestionAnswer\Grid\Collection</item>				
            </argument>
        </arguments>
    </type>
	
</config>
