<?xml version="1.0"?>
<!--
/**
 * @category Mageants OrderArchive
 * @package Mageants OrderArchive
 * @copyright Copyright (c) 2019 Mageants
 * @author Mageants Team <support@mageants.com>
 */ 
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_load_after">
        <observer name="Mageants_OrderArchive" instance="Mageants\OrderArchive\Observer\SalesObjectAfterLoadObserver" />
    </event>
    <event name="sales_order_invoice_load_after">
        <observer name="Mageants_OrderArchive" instance="Mageants\OrderArchive\Observer\SalesObjectAfterLoadObserver" />
    </event>
    <event name="sales_order_shipment_load_after">
        <observer name="Mageants_OrderArchive" instance="Mageants\OrderArchive\Observer\SalesObjectAfterLoadObserver" />
    </event>
    <event name="sales_order_creditmemo_load_after">
        <observer name="Mageants_OrderArchive" instance="Mageants\OrderArchive\Observer\SalesObjectAfterLoadObserver" />
    </event>
    <event name="sales_order_grid_collection_load_before">
        <observer name="Mageants_OrderArchive" instance="Mageants\OrderArchive\Observer\SalesObjectAfterLoadObserver" />
    </event>
</config>
